AWS_PROFILE=lucas-personal
TF_VAR_project_name=lucas-tavares-portfolio
TF_VAR_aws_region=us-east-1
TF_VAR_acm_certificate_arn=arn:aws:acm:us-east-1:868112351099:certificate/eff08859-e4a3-4af0-9ad1-18c2fa87abf8
TF_VAR_hosted_zone_name=lucas-tavares.com
TF_VAR_www_domain_name=www.lucas-tavares.com
